.mainContainer {
    display: flex;
    flex-direction: row;
    width: 70%; 
    margin: 80px;
    background-color: #454955;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
    top: 2%; 
    left: 10%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  .Container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 50%; 
  }
  
  .name {
    font-size: 20%px;
    position: relative;
  }
  
  .image {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .dataContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
  }
  
  .data {
    font-size: 18px;
    position: center;
    color: #72b01d;
  }
  
  .description {
    text-align: justify;
    font-size: 20px;
    width: 45%;
    padding: 10px; 
    background-color: #3f7d20;
    color: white; /* Color del texto blanco */
    font-weight: bold; /* Texto en negrita */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    margin-top: 5%;
    padding: 2%;
    max-height: 600px; /* Establece la altura máxima que deseas para la descripción */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 768px) {
    .name {
      font-size: 25px;
    }
  
    .description {
      font-size: 16px;
    }
  
    .data {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .mainContainer {
      margin-top: 100px;
    }
  }